@media(min-width: 992px)
	a:hover
		text-decoration: none
	.header
		&__menu
			>li
				>a
					transition: all .3s ease
				&:hover>a
					color: $yellow
	.filter
		&__item
			transition: all .3s ease
			&:hover
				background-color: $blue
				color: #fff
	.pagination
		a
			transition: all .3s ease
			&:hover
				color: $blue
	.menu
		&__list
			>li
				>a
					transition: all .3s ease
				&:hover>a
					background-color: $gray
	.social-link
		&:hover &__text
			text-decoration: none
	.footer
		a
			transition: all .3s ease
			&:hover
				color: #fff
@media(max-width:1159px)
	.wrapper
		max-width: 992px
	.header
		&__bottomline
			background-color: $blue
		&__menu
			padding: 0
	.sidebar-block
		&__wrapper
			display: block
		&__sidebar
			padding: 30px 0 0
			margin: 0 -15px
			display: flex
			flex-wrap: wrap
			justify-content: center
	.menu,
	.calc-widget,
	.banner,
	.news-widget
		flex: 1 1 calc(50% - 30px)
		margin: 0 15px 30px
	.catalog
		border-bottom: none
		padding-bottom: 20px
	.text-block
		&__sidebar-imitation
			width: auto
@media(max-width:991px)
	h1
		font-size: 18px
	h2
		font-size: 16px
		line-height: 1.5
	h3
		font-size: 14px
		margin: 2em 0 0.8em
	.wrapper
		padding-left: 10px
		padding-right: 10px
	.box
		margin-left: -10px
		margin-right: -10px	
	.menu-btn
		display: inline-block
	.header
		position: relative
		&__topline
			padding: 9px 0
			.wrapper
				flex-wrap: wrap
				justify-content: space-between
		&__logo
			margin: 0 0 0 10px
		&__text
			font-size: 12px
		&__location
			display: none
			&--mobile
				display: block
				margin: 0 0 32px
				background: none
				color: inherit
		&__btn
			order: 2
			margin: 0 auto
		&__main
			order: 1
			width: 100%
			margin: 17px 0 16px
			text-align: center
		&__bottomline
			position: absolute
			z-index: 1
			top: 0
			left: 0
			width: 100%
			padding: 32px 20px 35px
			color: #fff
			opacity: 0
			pointer-events: none
			transition: all .3s ease
			&.open
				opacity: 1
				pointer-events: all
		&__menu
			display: block
			border-top: 1px solid #013a6f
			padding: 18px 0 0
			>li>a
				padding: 9px 0
	.sidebar-block
		padding-top: 18px
		&__sidebar
			margin: 0 -10px
	.menu,
	.calc-widget,
	.banner, 
	.news-widget
		margin: 0 10px 20px
		flex-basis: calc(50% - 20px)
	.catalog
		&__head
			padding: 0 10px
	.good-card
		display: block
		&__body
			display: block			
		&__head
			padding: 34px 30px 15px
			flex-direction: row
			align-items: center
			position: relative
		&__title
			order: 1
			flex: 1 1 calc(100% - 83px)
			margin: 0
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
		&__img
			width: 50px
			flex: 0 0 auto
			margin: 0 27px 0 6px
		&__main
			padding: 12px 28px 30px
			position: relative
		&__description
			padding: 0 30px 30px
		&__footer
			padding: 30px 30px 32px
			display: block
		&__btn
			max-width: 215px
			margin-left: auto
			margin-right: auto
		&__licence
			margin: 27px auto 0
	.order
		&__main
			padding: 27px 20px 30px
		&__head
			display: block
		&__title
			margin: 0 0 17px
		&__toggler
			&:after
				margin-left: 10px
	.pagination
		text-align: center
	.text-block
		padding: 10px 10px 30px
	.good
		margin: 0 10px
		&__body
			padding: 47px 20px 29px
		&__main
			display: block
		&__head
			margin: 0 0 36px
			display: block
		&__title
			margin: 0 0 3.3em
		&__logo
			width: 170px
		&__content
			padding: 0
		&__text
			padding: 35px 20px 20px
	.review
		padding: 24px 22px 28px
		&__info
			margin-top: 22px
			padding-top: 22px
	.reviews
		margin: 0 10px
		padding: 35px 0 15px
	.form-block
		padding: 15px 0
		margin: 0 10px
		&:last-child
			padding-bottom: 15px
		&__title
			font-size: 16px
		&__inner
			padding: 13px 20px 30px
		&__field
			margin: 0 10px
	.social-link
		display: inline-block
		margin: 0 22px
		&__text
			display: none
		&__icon
			font-size: 45px
			margin: 0
			display: block		
	.footer
		&__topline
			padding: 20px 0
		&__box
			display: block
			margin: 0
		&__column
			width: auto
			margin: 0
			display: none
			&--social
				display: block
		&__title
			display: none
		&__social
			padding: 0
			display: flex
			align-items: center
			justify-content: center
		&__bottomline
			text-align: center
			padding: 27px 0 20px
			.wrapper
				display: block
		&__text
			margin: 0 0 1.4em
		&__payment
			&-system
				width: 39px
				height: 25px
				margin: 0 3px			
				
@media(max-width:767px)
	.order
		&__body
			display: block
			padding-bottom: 16px
		&__column
			width: auto
			&--checkbox-group
				padding-top: 18px
		&__field
			margin: 0
		&__footer
			display: block
			margin: 0
			padding-top: 26px
		&__result
			margin: 0 0 1em
			font-size: 12px
			text-indent: -1px
			overflow: hidden
			strong
				float: right
		&__btn
			margin: 13px 0 0
		&__additional
			padding: 26px 20px 39px
			display: block
	.breadcrumbs
		display: none
	.map-block
		margin: 20px 0 17px
		&__wrapper
			padding: 0
	.good
		&__chars
			display: block
			tbody,tr,td,th
				display: block
			td,th
				padding: 0
				&:empty
					display: none
				&:last-child
					padding-left: 0
			tbody
				tr
					margin: 0 0 1.83em
					&:first-child
						display: flex
						flex-wrap: wrap
						align-items: baseline
						justify-content: space-between
		&__footer
			margin: 48px 0 0
			display: block
			text-align: center
		&__btn
			margin-right: 0
	.review
		&__info
			display: block
		&__name
			margin: 0 0 .66em
			padding: 0
		&__date
			margin: 0 0 16px
			padding: 0
	.form-block
		&__box
			display: block
			margin: 0
		&__field
			margin: 0
			width: 100%
	

@media(max-width:479px)	
	.header
		&__btn
			width: calc(100% - 20px)
			padding: 0 10px
	.sidebar-block
		padding-top: 18px
		&__sidebar
			margin: 0
			display: block
			padding: 20px 10px 0
	.menu,
	.banner, 
	.news-widget
		margin: 0 0 30px
	.calc-widget
		display: none
	.filter
		display: block
		&__item
			display: block
			width: max-content
			max-width: 100%
			margin-right: 0
	.good-card
		&__btn
			max-width: 100%
	.order
		&__btn
			display: block
			width: 100%
			margin-top: 25px
	.good
		&__btn
			display: block
			width: 100%
	.form-block
		&__btn
			display: block
			width: 100%
