@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, :before, :after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font: normal normal 14px/1.7 "Montserrat", sans-serif;
  line-height: 1.7142857143;
  color: #333;
}

header, footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

img,
iframe,
video {
  max-width: 100%;
}

a img {
  border: none;
}

a {
  color: #04539c;
  display: inline-block;
}

strong {
  display: inline-block;
}

em {
  font-style: inherit;
  color: #ffd949;
}

hr {
  display: block;
  width: 100%;
  margin: 20px 0;
  height: auto;
  border: none;
  border-top: 1px solid #ebebeb;
}

p {
  margin: 0 0 0.6em;
}
p:last-child {
  margin: 0;
}

*:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*элементы форм */
input, textarea, button, select {
  font: inherit;
  color: inherit;
}

textarea {
  resize: none;
  overflow: auto;
}

[type=text],
[type=tel],
[type=email],
[type=number],
[type=url],
[type=password],
textarea {
  display: block;
  width: 100%;
  line-height: normal;
  background-color: #fff;
  border: 1px solid #ebebeb;
  padding: 9px 20px;
  margin: 0 0 14px;
  min-width: 0;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: 100%;
  margin: 0 0 14px;
  line-height: normal;
  padding: 9px 30px 9px 18px;
  border: 1px solid #ebebeb;
  background: url(../img/icons/select-caret.svg) no-repeat right 20px center/8px auto #fff;
}
@supports(-moz-appearance: checkbox) {
  select {
    text-indent: -2px;
  }
}
[type=search]::-webkit-search-decoration, [type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-results-button, [type=search]::-webkit-search-results-decoration {
  display: none;
}

[type=number] {
  -moz-appearance: textfield;
}
[type=number]::-webkit-outer-spin-button, [type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

input[type=range] {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  background: -webkit-gradient(linear, left top, right top, from(#dca815), to(#dca815)) no-repeat left center/100% 2px;
  background: linear-gradient(to right, #dca815, #dca815) no-repeat left center/100% 2px;
  height: 8px;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 8px;
  background: none;
}
input[type=range]::-webkit-slider-thumb {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #dca815;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: none;
}
input[type=range]::-moz-range-thumb {
  width: 8px;
  height: 8px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #dca815;
  border: none;
}

[type=checkbox] {
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
  border: 1px solid #ebebeb;
  background-color: #fff;
  font: normal normal 9px/15px icomoon;
  color: #fff;
  text-align: center;
  text-indent: 1px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
[type=checkbox]:checked {
  color: #04539c;
}
[type=checkbox]:before {
  content: "";
}

label {
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: normal;
  font-size: 12px;
  margin: 0 0 24px;
  /*ебаный дизайнер. Если текст чуть вылезает за пределы блока, то можно не переносить, ага. Так ведь красивше. */
  letter-spacing: -0.008em;
}
.label:last-child {
  margin-bottom: 0;
}
.label span {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.range-input {
  display: block;
  width: 100%;
  position: relative;
}
.range-input [type=range] {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -3px;
}

.term-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 14px;
}
.term-input input {
  margin-right: 11px;
  width: 80px;
  margin-bottom: 0;
}
.term-input select {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 0;
}

.field {
  display: block;
}
.field__label {
  display: block;
  margin: 0 0 0.5em;
}

.rating-field {
  display: block;
  font-size: 16px;
  line-height: 2.375;
  color: #cccccc;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.rating-field__star {
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rating-field__star--active {
  color: #ffd949;
}

/*кнопки */
button,
[type=submit],
[type=reset],
[type=image] {
  cursor: pointer;
}

.btn {
  display: inline-block;
  vertical-align: top;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font: normal bold 12px/42px "Montserrat", sans-serif;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  text-overflow: ellipsis;
  text-shadow: none;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  border-radius: 3px;
  border: none;
  background-color: #ffd949;
  padding: 0 28px;
  -webkit-box-shadow: inset 0px -4px 0px 0px #dca815;
          box-shadow: inset 0px -4px 0px 0px #dca815;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.btn--block {
  display: block;
  width: 100%;
  padding: 0 10px;
}
.btn--blue {
  background-color: #04539c;
  color: #fff;
  -webkit-box-shadow: inset 0px -4px 0px 0px #013a6f;
          box-shadow: inset 0px -4px 0px 0px #013a6f;
}
.btn--gray {
  background-color: #ebebeb;
  -webkit-box-shadow: inset 0px -4px 0px 0px #e0e0e0;
          box-shadow: inset 0px -4px 0px 0px #e0e0e0;
}
.btn--high {
  line-height: 48px;
}
.btn--big {
  font-size: 14px;
}

/*заголовки */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: normal;
}

h1 {
  font-size: 24px;
  margin: 0 0 0.75em;
}

h2 {
  font-size: 20px;
  margin: 0 0 1.3em;
}

h3 {
  font-size: 16px;
  margin: 1.6em 0 0.7em;
}
h3:first-child {
  margin-top: 0;
}
h3:last-child {
  margin-bottom: 0;
}

h4 {
  font-size: inherit;
  margin: 0 0 1.3em;
}

/*списки */
ul, ol {
  margin: 0 0 1.7em;
  padding-left: 2.57em;
}

ul {
  list-style: none;
}
ul > li {
  position: relative;
}
ul > li:before {
  content: "—";
  display: inline-block;
  position: absolute;
  left: -2.57em;
}

ol {
  list-style: none;
  counter-reset: ol;
}
ol > li {
  counter-increment: ol;
  position: relative;
}
ol > li:before {
  content: counter(ol) ".";
  display: inline-block;
  position: absolute;
  left: -2.57em;
}

/*таблицы */
table {
  width: 100%;
  table-layout: fixed;
}

th {
  font-weight: inherit;
  text-align: inherit;
}

/*контейнеры */
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

/*ШАПКА */
.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  color: #04539c;
  text-decoration: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.logo__img {
  width: 40px;
  margin: 0 20px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: block;
}
.logo__text {
  display: block;
  margin-top: 10px;
}

.menu-btn {
  display: none;
  position: relative;
  z-index: 2;
  width: 34px;
  height: 34px;
  font: normal normal 18px/34px icomoon;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px -4px 0px 0px #dca815;
          box-shadow: inset 0px -4px 0px 0px #dca815;
  background-color: #ffd949;
  text-align: center;
  margin: 6px 13px 0 0;
}
.menu-btn:before {
  content: "";
}
.menu-btn.active {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  font-size: 13px;
}
.menu-btn.active:before {
  content: "";
}

.header__topline {
  padding: 17px 0 30px;
}
.header__topline .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  margin: 0 25px 0 5px;
}
.header__main {
  margin: 0 25px;
}
.header__location {
  border: none;
  text-transform: uppercase;
  padding: 0 20px 0 0;
  width: auto;
  margin: 0;
  display: inline-block;
  font-size: 13px;
  background-position: right center;
}
.header__location--mobile {
  display: none;
}
.header__text {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: normal;
}
.header__btn {
  margin: 10px 0 0 auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__menu {
  margin: 0;
  padding: 0;
  background-color: #04539c;
  padding: 0 65px;
  border-radius: 3px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header__menu > li {
  position: static;
}
.header__menu > li:before {
  display: none;
}
.header__menu > li > a {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 20px 10px;
}
.header__menu > li.active > a {
  color: #ffd949;
}

/*ОСНОВНОЕ СОДЕРЖИМОЕ */
.sidebar-block {
  padding: 49px 0 0;
}
.sidebar-block:nth-child(n+2) {
  padding-top: 20px;
}
.sidebar-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar-block__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% - 285px);
          flex: 0 1 calc(100% - 285px);
}
.sidebar-block__sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 255px;
          flex: 0 0 255px;
  margin-left: 30px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 22px;
}
.filter__item {
  display: inline-block;
  text-decoration: none;
  color: #04539c;
  line-height: 1;
  background-color: #f7f7f7;
  padding: 4.5px 9px;
  margin: 0 5px 5px 0;
  font-size: 13px;
}
.filter__item.active {
  background-color: #04539c;
  color: #fff;
}

.rating {
  display: block;
}
.rating__value {
  display: inline-block;
  margin-right: 5px;
  font-weight: bold;
}
.rating__value--big-space {
  margin-right: 16px;
}
.rating__star {
  font-size: 16px;
  color: #ccc;
}
.rating__star--active {
  color: #ffd949;
}

.good-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fcfcfc;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
.good-card--active {
  background-color: #f7f7f7;
}
.good-card__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 565px;
          flex: 1 1 565px;
}
.good-card--active .good-card__body:before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  border: 1px solid #ebebeb;
  border-radius: 3px 0 0 3px;
  pointer-events: none;
}
.good-card__head {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 255px;
          flex: 0 1 255px;
  padding: 45px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.good-card__title {
  font-size: 20px;
  margin: 0 0 1em;
}
.good-card__img {
  margin: auto;
}
.good-card__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 310px;
          flex: 1 1 310px;
  padding: 47px 30px;
}
.good-card__chars {
  line-height: normal;
  table-layout: auto;
  text-transform: uppercase;
}
.good-card__chars td, .good-card__chars th {
  padding: 0 0 20px;
}
.good-card__chars td:last-child, .good-card__chars th:last-child {
  font-weight: bold;
  padding-left: 10px;
}
.good-card__chars td:empty, .good-card__chars th:empty {
  padding-bottom: 17px;
}
.good-card__chars tr:last-child td {
  padding-bottom: 0;
}
.good-card__description {
  padding: 20px 30px;
}
.good-card__footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 260px;
          flex: 0 0 260px;
  background-color: #f7f7f7;
  border-left: 1px solid #ebebeb;
  padding: 50px 20px 23px 24px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.good-card--active .good-card__footer {
  background-color: #04539c;
  border-color: #013a6f;
  color: #fff;
}
.good-card--active .good-card__footer:before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #013a6f;
  top: 6px;
  left: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  border-radius: 0 3px 3px 0;
  pointer-events: none;
}
.good-card__btn {
  margin: 0 0 20px;
}
.good-card__licence {
  font-size: 12px;
  line-height: 1.3333333333;
  text-transform: uppercase;
  margin: auto;
}

.pagination {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
}
.pagination > li {
  position: static;
}
.pagination > li:before {
  display: none;
}
.pagination > li {
  display: inline-block;
  margin: 0 8px 0 0;
}
.pagination > li > a {
  color: inherit;
}
.pagination > li.active > a {
  color: #04539c;
  text-decoration: none;
}

.catalog {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 42px;
}
.catalog__section {
  margin: 0 0 30px;
}
.catalog__section:last-child, .catalog__section:last-of-type {
  margin-bottom: 0;
}
.catalog__pagination {
  margin-top: 23px;
}

.order {
  background-color: #fcfcfc;
  border-radius: 3px;
  overflow: hidden;
  margin: 0 0 30px;
}
.order__main {
  padding: 34px 40px 28px;
}
.order__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 24px;
  margin: 0 0 20px;
}
.order__title {
  font-size: 24px;
  margin: 0 10px 0 0;
  color: #04539c;
  text-indent: -2px;
}
.order__toggler {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: normal;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.order__toggler span {
  display: inline-block;
  vertical-align: middle;
  text-decoration: underline;
}
.order__toggler:after {
  content: "";
  font: normal normal 24px/1 icomoon;
  color: #dca815;
  vertical-align: middle;
  margin-left: 19px;
}
.order__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 8px;
}
.order__column {
  width: calc((100% - 100px) / 3);
}
.order__column--checkbox-group {
  padding-top: 4px;
}
.order__field {
  margin-bottom: 21px;
}
.order__footer {
  border-top: 1px solid #ebebeb;
  padding-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 -10px;
}
.order__result {
  margin: 4px 10px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
  font-size: 13px;
  line-height: 1.5384615385;
  color: #04539c;
  text-transform: uppercase;
}
.order__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 215px;
          flex: 0 0 215px;
  margin: 0 10px 10px;
}
.order__additional {
  border-top: 1px solid #ebebeb;
  background-color: #f7f7f7;
  padding: 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-block {
  padding: 26px 0 49px;
}
.text-block__sidebar-imitation {
  width: calc(100% - 285px);
}

.menu {
  padding: 8px 0 0;
  margin: 0 0 30px;
}
.menu__title {
  font-size: 16px;
  margin: 0 0 1.6em;
}
.menu__list {
  margin: 0;
  padding: 0;
  line-height: normal;
}
.menu__list > li {
  position: static;
}
.menu__list > li:before {
  display: none;
}
.menu__list > li {
  margin: 0 0 2px;
}
.menu__list > li > a {
  display: block;
  position: relative;
  background-color: #fcfcfc;
  padding: 17px 30px 13px 19px;
  color: inherit;
  text-decoration: none;
}
.menu__list > li > a:after {
  content: "";
  font: normal normal 12px/1 icomoon;
  display: inline-block;
  color: #04539c;
  position: absolute;
  top: calc(50% - .5em);
  right: 19px;
}
.menu__list > li:first-child > a {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.menu__list > li:last-child > a {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.menu__list > li.active > a {
  background-color: #f7f7f7;
}

.calc-widget {
  background-color: #f7f7f7;
  position: relative;
  border-radius: 3px;
  padding: 23px 30px 21px;
  margin: 0 0 30px;
}
.calc-widget:before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #ebebeb;
  border-radius: inherit;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  pointer-events: none;
}
.calc-widget__title {
  font-size: 16px;
  text-indent: -3px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 0.9em;
  margin-bottom: 0.9em;
}
.calc-widget__btn {
  margin: 30px 0 0;
}
.calc-widget__text {
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #000;
  margin: 1.3em 0 0;
}

.banner {
  display: block;
  margin: 0 0 30px;
}
.banner img {
  display: block;
  width: 100%;
}

.news-widget {
  margin: 0 0 30px;
}
.news-widget__title {
  font-size: 16px;
  margin: 0 0 1.6em;
}
.news-widget__item {
  display: block;
  color: inherit;
  text-decoration: none;
  line-height: 1.4285714286;
  padding: 25px 0;
  border-top: 1px solid #ebebeb;
}
.news-widget__item:last-child {
  border-bottom: 1px solid #ebebeb;
}
.news-widget__date {
  display: block;
  font-size: 12px;
  color: #04539c;
  font-weight: bold;
  margin: 0 0 1em;
}
.news-widget__all-link {
  display: inline-block;
  vertical-align: top;
  margin: 1.5em 0 0;
}

.breadcrumbs {
  padding: 12px 0;
}
.breadcrumbs__list {
  margin: 0;
  padding: 0;
}
.breadcrumbs__list > li {
  position: static;
}
.breadcrumbs__list > li:before {
  display: none;
}
.breadcrumbs__list > li {
  display: inline-block;
}
.breadcrumbs__list > li:not(:last-child):after {
  content: " /";
}

.map-block {
  margin: 0 0 21px;
}
.map-block__map {
  height: 386px;
  background-color: gray;
}

.good__body {
  background-color: #fcfcfc;
  padding: 48px 40px 51px;
}
.good__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.good__head {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 183px;
          flex: 0 0 183px;
  margin: 0 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.good__title {
  font-size: 20px;
}
.good__logo {
  margin: auto;
}
.good__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% - 210px);
          flex: 1 1 calc(100% - 210px);
  padding: 0 30px;
}
.good__chars {
  line-height: normal;
  table-layout: auto;
  text-transform: uppercase;
}
.good__chars td, .good__chars th {
  padding: 0 0 20px;
}
.good__chars td:last-child, .good__chars th:last-child {
  font-weight: bold;
  padding-left: 10px;
}
.good__chars td:empty, .good__chars th:empty {
  padding-bottom: 17px;
}
.good__chars tr:last-child td {
  padding-bottom: 0;
}
.good__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 31px 0 0;
}
.good__btn {
  width: 215px;
  margin: 10px 30px 0 0;
}
.good__text {
  background-color: #f7f7f7;
  border-top: 1px solid #ebebeb;
  padding: 36px 40px 40px;
}
.good__text ul {
  padding-left: 0;
}
.good__text ul:last-child {
  margin-bottom: 0;
}
.good__text ul > li:before {
  position: static;
  margin-right: 0.4em;
}

.reviews {
  padding: 48px 0 30px;
}
.reviews__title {
  font-size: 18px;
}
.reviews__footer {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0 0;
}

.review {
  padding: 26px 42px 22px;
  background-color: #f7f7f7;
}
.review__info {
  border-top: 1px solid #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 19px;
  margin-top: 15px;
}
.review__name {
  text-transform: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 150px;
          flex: 0 1 150px;
  padding-right: 10px;
  margin: 0;
}
.review__date {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 190px;
          flex: 0 1 190px;
  padding-right: 10px;
}

.form-block {
  padding: 20px 0 40px;
}
.form-block:last-child {
  padding-bottom: 80px;
}
.form-block__title {
  font-size: 18px;
  margin: 0 0 0.8em;
}
.form-block__inner {
  background-color: #f7f7f7;
  padding: 34px 40px 50px;
  overflow: hidden;
}
.form-block__box {
  margin: 0 -25px;
}
.form-block__field {
  margin: 0 25px 9px;
  width: 215px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.form-block__captcha {
  display: block;
  margin: 10px 0 30px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  color: inherit;
  text-decoration: none;
  margin: 0 0 1.9em;
}
.social-link__icon {
  display: inline-block;
  font-size: 1.7142857143em;
  margin-right: 0.5833333333em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.social-link__text {
  text-decoration: underline;
  display: block;
}

/*ПОДВАЛ */
.footer {
  background-color: #333;
  color: #ccc;
}
.footer__topline {
  padding: 44px 0 22px;
}
.footer__column {
  margin: 0 15px 30px;
  width: calc(100% / 6 - 30px);
}
.footer__title {
  line-height: 1;
  min-height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 0 0.9em;
}
.footer__title span {
  display: block;
  width: 100%;
}
.footer__menu {
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.footer__menu > li {
  position: static;
}
.footer__menu > li:before {
  display: none;
}
.footer__menu > li {
  margin: 0 0 0.95em;
}
.footer__menu > li:last-child {
  margin: 0;
}
.footer__menu > li > a {
  color: inherit;
  /*дизуйнер - мудак. Из-за pixel-perfect, чтобы избежать переноса */
  letter-spacing: -0.02em;
}
.footer__social {
  padding-top: 17px;
}
.footer__bottomline {
  background-color: #121212;
  padding: 16px 0;
}
.footer__bottomline .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}
.footer__text {
  margin: 0 49px;
}
.footer__payment {
  margin-left: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.footer__payment-system {
  display: inline-block;
  position: relative;
  width: 47px;
  height: 30px;
  border: 1px solid #000;
  background-color: #333;
  border-radius: 3px;
  margin-left: 6px;
  vertical-align: middle;
}
.footer__payment-system img {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: calc(100% - 10px);
  max-height: calc(100% - 10px);
}

/*АДАПТИВ */
@media(min-width: 992px) {
  a:hover {
    text-decoration: none;
  }

  .header__menu > li > a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__menu > li:hover > a {
    color: #ffd949;
  }

  .filter__item {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .filter__item:hover {
    background-color: #04539c;
    color: #fff;
  }

  .pagination a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .pagination a:hover {
    color: #04539c;
  }

  .menu__list > li > a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .menu__list > li:hover > a {
    background-color: #f7f7f7;
  }

  .social-link:hover .social-link__text {
    text-decoration: none;
  }

  .footer a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .footer a:hover {
    color: #fff;
  }
}
@media(max-width:1159px) {
  .wrapper {
    max-width: 992px;
  }

  .header__bottomline {
    background-color: #04539c;
  }
  .header__menu {
    padding: 0;
  }

  .sidebar-block__wrapper {
    display: block;
  }
  .sidebar-block__sidebar {
    padding: 30px 0 0;
    margin: 0 -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu,
  .calc-widget,
  .banner,
  .news-widget {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 30px);
            flex: 1 1 calc(50% - 30px);
    margin: 0 15px 30px;
  }

  .catalog {
    border-bottom: none;
    padding-bottom: 20px;
  }

  .text-block__sidebar-imitation {
    width: auto;
  }
}
@media(max-width:991px) {
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
    line-height: 1.5;
  }

  h3 {
    font-size: 14px;
    margin: 2em 0 0.8em;
  }

  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .box {
    margin-left: -10px;
    margin-right: -10px;
  }

  .menu-btn {
    display: inline-block;
  }

  .header {
    position: relative;
  }
  .header__topline {
    padding: 9px 0;
  }
  .header__topline .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    margin: 0 0 0 10px;
  }
  .header__text {
    font-size: 12px;
  }
  .header__location {
    display: none;
  }
  .header__location--mobile {
    display: block;
    margin: 0 0 32px;
    background: none;
    color: inherit;
  }
  .header__btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 auto;
  }
  .header__main {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin: 17px 0 16px;
    text-align: center;
  }
  .header__bottomline {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px 20px 35px;
    color: #fff;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__bottomline.open {
    opacity: 1;
    pointer-events: all;
  }
  .header__menu {
    display: block;
    border-top: 1px solid #013a6f;
    padding: 18px 0 0;
  }
  .header__menu > li > a {
    padding: 9px 0;
  }

  .sidebar-block {
    padding-top: 18px;
  }
  .sidebar-block__sidebar {
    margin: 0 -10px;
  }

  .menu,
  .calc-widget,
  .banner,
  .news-widget {
    margin: 0 10px 20px;
    -ms-flex-preferred-size: calc(50% - 20px);
        flex-basis: calc(50% - 20px);
  }

  .catalog__head {
    padding: 0 10px;
  }

  .good-card {
    display: block;
  }
  .good-card__body {
    display: block;
  }
  .good-card__head {
    padding: 34px 30px 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .good-card__title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% - 83px);
            flex: 1 1 calc(100% - 83px);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .good-card__img {
    width: 50px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0 27px 0 6px;
  }
  .good-card__main {
    padding: 12px 28px 30px;
    position: relative;
  }
  .good-card__description {
    padding: 0 30px 30px;
  }
  .good-card__footer {
    padding: 30px 30px 32px;
    display: block;
  }
  .good-card__btn {
    max-width: 215px;
    margin-left: auto;
    margin-right: auto;
  }
  .good-card__licence {
    margin: 27px auto 0;
  }

  .order__main {
    padding: 27px 20px 30px;
  }
  .order__head {
    display: block;
  }
  .order__title {
    margin: 0 0 17px;
  }
  .order__toggler:after {
    margin-left: 10px;
  }

  .pagination {
    text-align: center;
  }

  .text-block {
    padding: 10px 10px 30px;
  }

  .good {
    margin: 0 10px;
  }
  .good__body {
    padding: 47px 20px 29px;
  }
  .good__main {
    display: block;
  }
  .good__head {
    margin: 0 0 36px;
    display: block;
  }
  .good__title {
    margin: 0 0 3.3em;
  }
  .good__logo {
    width: 170px;
  }
  .good__content {
    padding: 0;
  }
  .good__text {
    padding: 35px 20px 20px;
  }

  .review {
    padding: 24px 22px 28px;
  }
  .review__info {
    margin-top: 22px;
    padding-top: 22px;
  }

  .reviews {
    margin: 0 10px;
    padding: 35px 0 15px;
  }

  .form-block {
    padding: 15px 0;
    margin: 0 10px;
  }
  .form-block:last-child {
    padding-bottom: 15px;
  }
  .form-block__title {
    font-size: 16px;
  }
  .form-block__inner {
    padding: 13px 20px 30px;
  }
  .form-block__field {
    margin: 0 10px;
  }

  .social-link {
    display: inline-block;
    margin: 0 22px;
  }
  .social-link__text {
    display: none;
  }
  .social-link__icon {
    font-size: 45px;
    margin: 0;
    display: block;
  }

  .footer__topline {
    padding: 20px 0;
  }
  .footer__box {
    display: block;
    margin: 0;
  }
  .footer__column {
    width: auto;
    margin: 0;
    display: none;
  }
  .footer__column--social {
    display: block;
  }
  .footer__title {
    display: none;
  }
  .footer__social {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__bottomline {
    text-align: center;
    padding: 27px 0 20px;
  }
  .footer__bottomline .wrapper {
    display: block;
  }
  .footer__text {
    margin: 0 0 1.4em;
  }
  .footer__payment-system {
    width: 39px;
    height: 25px;
    margin: 0 3px;
  }
}
@media(max-width:767px) {
  .order__body {
    display: block;
    padding-bottom: 16px;
  }
  .order__column {
    width: auto;
  }
  .order__column--checkbox-group {
    padding-top: 18px;
  }
  .order__field {
    margin: 0;
  }
  .order__footer {
    display: block;
    margin: 0;
    padding-top: 26px;
  }
  .order__result {
    margin: 0 0 1em;
    font-size: 12px;
    text-indent: -1px;
    overflow: hidden;
  }
  .order__result strong {
    float: right;
  }
  .order__btn {
    margin: 13px 0 0;
  }
  .order__additional {
    padding: 26px 20px 39px;
    display: block;
  }

  .breadcrumbs {
    display: none;
  }

  .map-block {
    margin: 20px 0 17px;
  }
  .map-block__wrapper {
    padding: 0;
  }

  .good__chars {
    display: block;
  }
  .good__chars tbody, .good__chars tr, .good__chars td, .good__chars th {
    display: block;
  }
  .good__chars td, .good__chars th {
    padding: 0;
  }
  .good__chars td:empty, .good__chars th:empty {
    display: none;
  }
  .good__chars td:last-child, .good__chars th:last-child {
    padding-left: 0;
  }
  .good__chars tbody tr {
    margin: 0 0 1.83em;
  }
  .good__chars tbody tr:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .good__footer {
    margin: 48px 0 0;
    display: block;
    text-align: center;
  }
  .good__btn {
    margin-right: 0;
  }

  .review__info {
    display: block;
  }
  .review__name {
    margin: 0 0 0.66em;
    padding: 0;
  }
  .review__date {
    margin: 0 0 16px;
    padding: 0;
  }

  .form-block__box {
    display: block;
    margin: 0;
  }
  .form-block__field {
    margin: 0;
    width: 100%;
  }
}
@media(max-width:479px) {
  .header__btn {
    width: calc(100% - 20px);
    padding: 0 10px;
  }

  .sidebar-block {
    padding-top: 18px;
  }
  .sidebar-block__sidebar {
    margin: 0;
    display: block;
    padding: 20px 10px 0;
  }

  .menu,
  .banner,
  .news-widget {
    margin: 0 0 30px;
  }

  .calc-widget {
    display: none;
  }

  .filter {
    display: block;
  }
  .filter__item {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    margin-right: 0;
  }

  .good-card__btn {
    max-width: 100%;
  }

  .order__btn {
    display: block;
    width: 100%;
    margin-top: 25px;
  }

  .good__btn {
    display: block;
    width: 100%;
  }

  .form-block__btn {
    display: block;
    width: 100%;
  }
}
